body{
	background-color: black;
	background-image: url("../Pic/Wallpaper.jpg");
	background-attachment: fixed;

}
h1{
    -webkit-text-stroke: 0.6px rgb(25, 0, 255);
	color: rgb(4, 161, 161);
	font-size: 50px;
	text-align: center;
	font-family: cursive;
	margin-top: 3px;
	margin-bottom: 3px;
}	
.Deals{
  font-size: xx-large;
  color: #c705c7;
}

.menu{
	font-size: x-large;
	text-decoration: none;
	font-weight: bold;
	color: rgba(233, 83, 238, 0.486);

	
word-spacing: 50px;
background-image:linear-gradient(rgb(44, 44, 247) , rgba(174, 122, 243, 0.644));
}
.menu a{
	text-decoration: none;
	-webkit-text-stroke: 0.2px rgb(44, 5, 107);
	text-align: center;
	padding: 30px;
	font-family: fantasy;
}
.menu a:hover{color: rgb(72, 132, 243); }
.menu .Home:hover{color: rgb(211, 81, 180); }
.menu .Home {
	font-size: xx-large;
	color: black;
	
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    display: grid;
    grid-template-columns: 60% 15% 25%;
    margin: 70px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #ff80ff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 40%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
   
    padding: 2px 16px;
    color: #ff80ff;
    line-height: 2rem;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: right;
    width: 65%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .mySlides img{
      width: 800px;
      height: 480px;
      border-bottom-left-radius: 6%;
        border-top-left-radius: 6%;
  }
  .firstimg img{
      border-top-right-radius: 20%;
  }
  .lastimg img{
      border-bottom-right-radius: 20%;
  }
  .Game{
    display: -webkit-inline-box;
    }
    .grid-container{
    margin-left: 75px;
    background-color: rgba(201, 201, 201, 0.616);
    margin-top: 50px;
    width: 210px;
    border-style                :   solid;
    border-width                :   8px;
    border-color                :   #3c7bf14d;
    border-radius               :   3px;
    text-decoration: none;
    
    }
  
    .grid-container .Name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgba(44, 5, 107);
    text-decoration: none;
    }
    .grid-container .Name:hover{
      color:rgb(247, 0, 255);
      text-decoration: none;
    }
    .grid-container .Price{
      font-weight:bold;
      text-align: center;
      text-decoration: none;
    }
    a:hover{
      color:rgb(243, 93, 223);
      text-decoration: none;
    }
   /* .icon{
padding-top: 30%;
    }*/
    button{

    margin-left: 10%;
    
  
    }


  